$bg: #252f34; // dark blue
$accent: #f3c27c; // yellow
$white: #fff; //white
$brown: #9b9188; // brown
$darkgrey: #3b3b3b; // dark grey
$darkblue: #7ec9d2; // dark blue
$lightgrey: #e9e9e9; // light grey

body {
  background-color: $lightgrey;
  color: $white;
  font-family: 'Muli', sans-serif;
  font-size: 1.3em;
  -webkit-font-smoothing: antialiased;
}

// Typography

@font-face {
  font-family: vwHeadlineBold;
  src: url('../fonts/vwHeadline.ttf');
}

@font-face {
  font-family: vwHeadlineBook;
  src: url('../fonts/vwHeadline-book.ttf');
}

.header1 {
    color: $brown;
    font-size: 5em;
    font-family: 'Damion', cursive;
}

.darkgrey {
    color: $darkgrey;
}

.darkblue {
    color: $darkblue;
}

.lightgrey {
    color: $lightgrey;
}

#download-resume {
  vertical-align: middle;
  display: inline;
}

#work-button {
  vertical-align: middle;
  display: inline;
}

// Logo

#logo {
  width: 12em;
}

// Jumbotron

.jumbotron {
  background-color: $bg;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

// Links

a {
  color: #fff;
}

a:hover,
a:focus {
  color: $brown;
  text-decoration: none;
}

#resume:hover {
  color: $bg;
  background-color: $white;
}

#work-item:hover {
  color: $white;
  background-color: $brown;
}

// Collapsable Panel styling

.panel-heading {
  padding: 0;
}

// Button styling

#resume {
  background-color: $brown;
  width: 100%;
  border: 1px solid #fff;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
}

#work-item {
  background-color: $lightgrey;
  color: $brown;
  width: 50%;
  border: 1px solid $brown;
  padding: .5em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
}

// Sections

.height-100 {
    height: 100vh;
    min-height: 100vh;
    content: "viewport-units-buggyfill; height: 100vh;";
}

.height-normal {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 6em;
    padding-right: 6em;
}

.intro {
  background-image: url("../img/geometry.png");
  background-repeat: repeat;
}

#intro-box {
    text-align: center;
    position: relative;
    top: 40%;
}

.about {
    background-color: $brown;
    text-align: center;
}

#about-box {
}

.work {
    background-color: $lightgrey;
    color: $darkgrey;
    text-align: center;
}

#work-box {
}

.contact {
    background-color: $darkblue;
    text-align: center;
}

#contact-box {
}