body {
    background: url(imgs/small_steps.png) 50% 50% fixed repeat;
    -moz-background-size: auto, cover; /* Firefox 3.6 */
    background-size: auto, cover; /* Chrome, Firefox 4.0+, Safari 4.1+, Opera 10+ and IE9 */
    font-family: avenir;
    font-size: 11pt;
    line-height: 17pt;
}

#center_div { 
    position:absolute;
    width:500px
    z-index:15;
    top:25%;
    left:45%;
    margin:-100px 0 0 -150px;
    text-align: center;
    color: #2b2b2b;
}

#about {
	text-align: left;
}

img {
	padding: 8px;
	vertical-align: middle; 
}

@font-face {
    font-family: luna;
    src: url(fonts/luna.ttf);
}


@font-face {
    font-family: avenir;
    src: url(fonts/avenir.ttc);
}


@font-face {
    font-family: social;
    src: url(fonts/social.ttf);
}


h1 {
    font-family: luna;
    font-size: 42pt;
    line-height: 10pt;
    color: #1f9d84;
}

p {
    font-family: avenir;
    font-size: 11pt;
    line-height: 17pt
}

.socialicons {
    font-family: social;
    font-size: 36pt;
    letter-spacing: 3pt;
}

a:link {
    color: #1f9d84;
    text-decoration: none;
    opacity: 0.6;
}

a:visited {
    color: #1f9d84;
    text-decoration: none;
}

a:hover {
    opacity:1;
    filter: Alpha(opacity=100);
}