@import 'mixins';

// Global Variables
$white: #FFF;
$black: #000;
$darkgrey: #505050;
$mediumgrey: #dddddd;
$lightgrey: #ebebeb;

// Fonts
@font-face {
	font-family: Hind;
	src: url(../../assets/fonts/Hind-Light.ttf);
}

@font-face {
	font-family: HindBold;
	src: url(../../assets/fonts/Hind-SemiBold.ttf);
}

@font-face {
	font-family: Avenir;
	src: url(../../assets/fonts/Avenir.ttc);
}

@font-face {
	font-family: AvenirBold;
	src: url(../../assets/fonts/AvenirBold.ttf);
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: $white;
	font: 12pt Avenir, Helvetica, Arial, sans-serif;
}

.container {
	padding-top: 5.5em;
	padding-bottom: 5.5em;
	margin: auto;
	border-bottom: 1px solid $mediumgrey;
}

.about {
	max-width: 800px;
	margin: auto;

	@include element('title') {
		text-align: center;
		font: 2.5em AvenirBold, Helvetica, Arial, sans-serif;
		color: $black;
		font-weight: bolder;	
	}

	@include element('description') {
		display: block;
		text-align: center;
	}

	@include element('circle-crop') {
		margin-left: auto;
		margin-right: auto;
  		width: 150px;
  		height: 150px;
  		overflow: hidden;
  		border-radius: 50%;
	}

	@include element('profilePhoto') {
		width: auto;
 		height: 100%;
	}

	@include element('contact-section') {
		margin-top: 2em;
		text-align: center;
	}

	@include element('contact-icon') {
		height: 2em;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	@include element('button') {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		font: .7em AvenirBold;
		color: $darkgrey;
		text-transform: uppercase;
		background: $white;
		padding: 1em 5.5em;
		border: 1px solid $mediumgrey;
		border-radius: 4px;
		margin-top: 1em;

		@include modifierLink('hover') {
			color: $darkgrey;
			background: $lightgrey;
		}

		@include modifierLink('focus') {
			color: $darkgrey;
		}
	}
}

.project {
	max-width: 800px;
	margin: auto;

	@include element('title') {
		font: 2em AvenirBold, Helvetica, Arial, sans-serif;
		color: $black;
		font-weight: bolder;	
	}

	@include element('table') {
	}

	@include element('descriptor') {
		font-family: AvenirBold;
		vertical-align: top;
		padding-right: 1.5em;
		padding-bottom: .5em;
	}

	@include element('notes') {
		padding-bottom: .5em;
	}

	@include element('pill') {
		display: inline;
		background-color: $lightgrey;
		font-size: .8em;
		color: $darkgrey;
		padding: .2em;
		padding-left: 1em;
		padding-right: 1em;
		border-radius: 100em;
		margin-bottom: 1em;
	}

	@include element('thumb') {
		position: relative;
		height: 150px;
		width: 150px;
		border-radius: 4px;
		border: 1px solid $darkgrey;
		object-fit: cover;
  		object-position: 50% 35%; /* default value: image is centered*/
  		margin: .1em;
  		margin-bottom: 0.3em
	}

	@include element('button') {
		display: inline-block;
		font: .7em AvenirBold;
		color: $darkgrey;
		text-transform: uppercase;
		background: $white;
		padding: 1em 5.5em;
		border: 1px solid $mediumgrey;
		border-radius: 4px;
		margin-top: 1em;

		@include modifierLink('hover') {
			color: $darkgrey;
			background: $lightgrey;
		}

		@include modifierLink('focus') {
			color: $darkgrey;
		}
	}
}

.lightbox-close {
	font: 1em AvenirBold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.lightbox-close:hover {
	text-decoration: none;
	color: $white;
}

.lightbox-close:focus {
	outline: none;
}

.lightbox-header .container {
	border: none;
	padding-top: 2em;
	padding-bottom: 2em;
}

.lightbox img {
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}